# Maven
/target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Java compile artifacts
*.class
*.lst

# IDE-specific logs
*.log


# Temporary files
*~
*.tmp
